<openerp>
    <data>
        <record model="ir.actions.client" id="action_hk_show_plan_dollop">
            <field name="name">Masszagyártás</field>
            <field name="tag">showDollopPlan</field>
        </record>


        <menuitem name="Kapacitás tervezés" id="menu_hk_plan"/>
            <menuitem name="Masszagyártás" id="menu_hk_plan_dollop" parent="menu_hk_plan"/>
                <menuitem action="action_hk_show_plan_dollop" id="menu_hk_plan_dollop_dollop" parent="menu_hk_plan_dollop"/>


    </data>
</openerp>