/* app css stylesheet */

.hk.tableContainer{
    width: 1000px;
    height: 700px;
}

.hk.headTable{
    width: 1000px;
    height: 21px;
}

.hk .side{
    float:left;
    width: 200px;
    overflow: hidden;
    border-right-style: double;
    border-right-color: #d3d3d3;
    border-right-width: 2px;
}

.hk .headTable .side{
    float:left;
}

.hk td div {
    white-space:nowrap;
    text-overflow: clip ;
    overflow: hidden;
    width: 100px;
}
.hk .side td div{
    width: 200px;
}

.hk td{
    border: solid 1px #d3d3d3;
}
.hk tr{
    height: 1em;
}

.hkscroll-x{
    overflow-x: scroll;
}

.hkscroll-y{
    overflow-y: scroll;
}

.noscrollbar-x::-webkit-scrollbar{
    display:none;
}

.noscroll-y{
    overflow-y: hidden;
}

.calcField{
    background-color: #F0EEEE;
}

.hk.hidescroll::-webkit-scrollbar{

}

/*.hk.row-fluid [class*="span"]{*/
    /*margin:0px;*/
/*}*/

/*.hkdebug{*/
    /*width: 2000px;*/
/*}*/

/*table.hk{*/
    /*table-layout: fixed;*/
    /*overflow: hidden;*/
    /*display: inline-block;*/

/*}*/

/*td.hk{*/
    /*width: 30px;*/
    /*overflow: hidden;*/
    /*display: inline-block;*/
    /*white-space: nowrap;*/
/*}*/
.hk table{
    background-color: #ffffff;
}
.hk .body{

}
.hk.scrollTable .body .content{

}
.hk.scrollTable .hk-side-head{

}
.hk.scrollTable .hk-head{

}
.hk.scrollTable .hk-side{

}
.hk.scrollTable .hk-body{

}
.hk .side td{
}
.hk td .placeholder{
    /*width:100%;*/
    /*background:blue;*/
}
