<templates>
    <div t-name="hk_planner.dollopTrack">
        <div id="hkp-dollopTrack" ng-app="hkp">
            <h4>Masszagyártás <span app-version=""></span></h4>
            <div ng-controller="DollopTableCtrl" class="">

                <div class="btn-group">
                    <button class="btn" ng-click="groupByDay()">Napi</button>
                    <button class="btn" ng-click="groupByWeek()">Heti</button>
                </div>

                <div class="hk tableContainer">
                    <div class="hk hkscroll-y hidescroll">
                        <div class="side">
                            <table class="hk-side ">
                                <tr ng-repeat="(key,row) in data" ng-show="$first">
                                    <td class="hk">
                                        <div>Masszagyártás</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="wrapper">
                            <div class="body hkscroll-x noscrollbar-x">
                                <table class="hk-body-head hkscroll-y">
                                    <tr ng-repeat="row in data" ng-show="$first">
                                        <td class="hk" ng-repeat="(key,cell) in row">
                                            <div>{{key}}</div>
                                        </td>
                                    </tr>
                                </table>

                            </div>

                        </div>
                    </div>
                    <div class="hk hkscroll-y">
                        <div class="side">

                            <table class="hk-side ">
                                <tr ng-repeat="(key,row) in data">
                                    <td class="hk">
                                        <div>{{key}}</div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="body hkscroll-x noscrollbar-x">

                            <table class="hk-body hkscroll-y">
                                <tr ng-repeat="row in data">
                                    <td class="hk" ng-repeat="cell in row">
                                        <div>{{cell}}</div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>

                    <div class="hk hkscroll-y">
                        <div class="side">

                            <table class="hk-side ">
                                <tr ng-repeat="(key,row) in data" ng-show="$first">
                                    <td class="hk">
                                        <div>SUM</div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="body hkscroll-x" scroll-bind="">
                            <table class="hk-body hkscroll-y">
                                <tr>
                                    <td class="hk" ng-repeat="i in getSumArray()">
                                        <div class="calcField">{{i}}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</templates>